* {
    font-family: Calibri, Arial;
}

html, body {
    margin: 0;
}

iframe {
    width: 100%;
    height: 400px;
}

img, video {
    width: 320px;
    display: block;
    margin: 1em auto;
}

audio {
    display: block;    
    margin: 1em auto;
}

pre {
    width: 93%;
    height: 300px;
    overflow: auto;
}

.file-input-holder {
    position: sticky;
    top: 0;
    left: 0;
    padding: 24px;
    /*background-color: #03CEBE;*/
    background-color: rgba( 3, 206, 142, 0.75);
    z-index: 1;
}

.file-input {
    color: white;
}
